<div class="col">
    <div class="card shadow-sm h-100">
        <button class="border-0">
            <img src="../../../../assets/placeholder.png" alt="placeholder">
        </button>
        <div class="card-body bg-light">
            <h5 class="card-title">{{produto.getNome()}}</h5>
            <p class="card-text text-secondary">R$ {{produto.getPrecoUnitario()}}</p>
            <button class="btn btn-dark d-block w-100" type="button">
               Adicionar ao Pedido
            </button>
        </div>
    </div>
</div>
