<div class="container bg-light d-flex flex-column vh-100 justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center w-75">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-75">
            <h2>{{ id ? 'Editar Produto' : 'Novo Produto' }}</h2>
            <div class="p-field">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText formControlName="nome" />
            </div>

            <div class="p-field">
                <label for="descricao">Descricao</label>
                <input id="descricao" type="text" pInputText formControlName="descricao" />
            </div>

            <div class="p-field">
                <label for="preco_unitario">Preço Unitário</label>
                <input id="preco_unitario" type="text" pInputText formControlName="preco_unitario" />
            </div>
            <div class="d-flex justify-content-between">
                <button
                    pButton
                    type="button"
                    label="Voltar"
                    class="p-button-secondary"
                    (click)="redirectToList()">
                </button>
                <button
                    pButton
                    type="submit"
                    [disabled]="form.invalid"
                    label="Salvar">
                </button>
            </div>
        </form>
    </div>
</div>
<p-toast></p-toast>
